<h2><%= @group.name %></h2>
<% if signed_in? %>
  <div id= "join-group-button">
    <%= render "join_group_button", group: @group %>
  </div>
  <% if current_user.liked? @group %>
    <%= button_to "Unlike", unlike_group_path(@group), method: :delete %>
  <% else %>
    <%= button_to "Like", like_group_path(@group) %>
  <% end %>
<% end %>

<p><%= pluralize(@group.likes.count, 'like') %></p>

<%= render @images %>
