<h1><%= @gallery.name %></h1>

<% if signed_in? %>
  <div id= "gallery-like-button">
    <%= render "gallery_like_button", gallery: @gallery %>
  </div>
<% end %>

<div id="gallery-like-count">
  <%= pluralize(@gallery.likes.count, 'like') %>
</div>


<% if @gallery.user == current_user %>
  <nav>
    <%= link_to "Edit", edit_gallery_path(@gallery) %>
    <%= link_to "Delete", gallery_path(@gallery), method: :delete %>
    <%= link_to "New image", new_gallery_image_path(@gallery) %>
  </nav>
<% end %>

<%= render @images %>
