<h1><%= @gallery.name %></h1>
<%= link_to "Edit", edit_gallery_path(@gallery) %>
<%= link_to "Delete", gallery_path(@gallery), method: :delete %>
<%= link_to "New image", new_gallery_image_path(@gallery) %>

<% @gallery.images.each do |image| %>
	<div>
		<%= image.name %>
	</div>
	<div>
		<%= image.description %>
	</div>
	<div>
		<img src="<%= image.url %>">
	</div>
<% end %>
