<h2><%= @image.name %></h2>

<% if @image.user == current_user %>
  <div>
    <%= link_to "Edit Image", edit_image_path(@image) %>
  </div>
  <div>
    <%= link_to "Delete", image_path(@image), method: :delete %>
  </div>
<% end %>

<%= image_tag(@image.url, width: "400" )%>
<p><%= @image.description %></p>
<p>Added by: <%= link_to @image.user.email, @image.user %></p>
<p>Added on: <%= @image.created_at %>

<div>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</div>


<div id="image_like_count">
  <%= pluralize(@image.likes.count, 'like') %>
</div>

<% if signed_in? %>
  <div id= "image_like">
    <%= render "image_like_button", image: @image %>
  </div>
<% end %>

<% if signed_in? %>
  <%= form_for([@image, @comment], remote: true) do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Comment" %>
  <% end %>
<% else %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>

<div id= "comments">
  <%= render @comments %>
</div>

<%= link_to_next_page @comments, "Load More", remote: true, id: "next_page" %>
